.text-center {
  text-align: center;
}

.title {
  font-weight: bold;
  margin-top: 50px;
  font-size: 5em;
}

.subTitle {
  font-size: 1.8em;
}

.loginButton {
  background-color: #49494d;
  color: #fff;
}

.content {
  margin-top: 10em;
  text-align: center;
}

img {
  margin-right: 10px;
}
