<div class="container">
  <div class="content">
    <div class="brand">
      <div class="title colorPrimary">waist</div>
      <div class="subTitle">adding measurements daily</div>
    </div>

    <div class="login">
      <mat-card>
        <mat-card-title>LOGIN</mat-card-title>
        <form>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>email</mat-label>
              <input
                matInput
                placeholder="example@domain.com"
                autocomplete="username"
                #email
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>password</mat-label>
              <input
                matInput
                type="password"
                autocomplete="current-password"
                #password
              />
            </mat-form-field>

            <button
              class="loginButton"
              mat-raised-button
              (click)="loginWithEmailPassword(email.value, password.value)"
            >
              Login
            </button>

            <div class="separator">
              <hr />
              <div>OR</div>
              <hr />
            </div>

            <div class="social">
              <div>Login/Sign up with</div>

              <button class="socialButton" mat-fab (click)="loginWithGoogle()">
                <img
                  width="30px"
                  alt='Google "G" Logo'
                  src="../../../assets/google.png"
                />
              </button>

              <button
                class="socialButton"
                mat-fab
                (click)="loginWithFacebook()"
              >
                <img
                  width="30px"
                  alt='Google "G" Logo'
                  src="../../../assets/facebook.png"
                />
              </button>
            </div>

            <div class="signUp">
              Not a member?
              <a (click)="openRegisterDialog()">Sign up now</a>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>
