.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  padding: 40px;
  max-width: 1200px;
}

.brand {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px 100px 0px;
}

.login {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0px 50px 0px 100px;
}

.title {
  font-size: 8em;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
}

.subTitle {
  font-size: 1.8em;
}

mat-card {
  width: 450px;
  padding: 40px;
  border-radius: 25px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-card-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.loginButton {
  color: #fff;
  width: 250px;
  padding: 3px;
  margin-top: 40px;
  background-color: #f3591e;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 5px 20px -6px #777;
}

.separator {
  width: 100%;
  display: flex;
  margin: 30px 0 10px 0;
}

.separator hr {
  width: 130px;
  border-top: 1px solid #d5d5d5;
}

.social {
  text-align: center;
  color: #d5d5d5;
}

.socialButton {
  background-color: #fff;
  margin: 10px 20px 30px 20px;
  border: 0.5px solid #d5d5d5;
  box-shadow: none;
}

img {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  top: 50%;
  left: 50%;
}

a {
  color: blue;
  cursor: pointer;
}
