.text-center {
  text-align: center;
}

.title {
  font-weight: bold;
  margin-top: 50px;
  font-size: 5em;
}

.subTitle {
  font-size: 1.8em;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

mat-card {
  width: 400px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-title {
  padding: 10px;
  margin-bottom: 50px;
}

#form {
  text-align: center;
}

#separator {
  text-align: center;
  padding: 20px;
}

#social {
  padding-bottom: 30px;
}

#login {
  width: 200px;
}

.socialButton {
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.socialButton img {
  margin: 0px;
}

mat-form-field {
  width: 100%;
}

img {
  margin-right: 10px;
}
