<h1>
  {{ title }}
</h1>
<div class="addSection">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="waist" #waist (input)="isNumber($event.target.value)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="chest" #chest (input)="isNumber($event.target.value)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="bicep" #bicep (input)="isNumber($event.target.value)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="weight" #weight (input)="isNumber($event.target.value)"
      (keydown.enter)="addMeasurement(waist.value, chest.value, bicep.value, weight.value); waist.value = '';chest.value = '';bicep.value = '';weight.value = ''">
  </mat-form-field>

  <button class="addMeasurementButton" mat-flat-button type="button"
    (click)="addMeasurement(waist.value, chest.value, bicep.value, weight.value); waist.value = '';chest.value = ' ';bicep.value = '';weight.value = ''"
    [disabled]="!inputIsNumber">
    Add
  </button>
</div>

<ul>
  <li *ngFor="let item of measurementList">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-subtitle>
          <div>{{item.date}} <span class="measure">{{item.waist}}cm &nbsp; </span> </div>
        </mat-card-subtitle>
      </mat-card-header>

      <a [routerLink]="['/edit',item.key]">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
      </a>

      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteMeasurement(item.key)">delete
      </mat-icon>
    </mat-card>
  </li>
  <ul>

    <button class="logoutButton" mat-flat-button (click)="logout()">Logout</button>
