.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* investigate why I need to duplicate this ?? */
  color: #65656b;
  background-color: #1c1c20;
  font-family: 'Montserrat', sans-serif;
}

.sidenavContainer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.sidenav {
  color: #fff;
  background-color: #28282e;
  /* investigate why I need to duplicate this ?? */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.addMeasurementButton {
  background: #f3591e;
  color: #fff;
}

.pageContainer {
  padding-left: 100px;
}

.title {
  text-align: center;
  font-size: 20px;
  margin: 70px 0px 100px 0px;
  color: #fff;
}

.card {
  display: flex;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

li {
  display: flex;
  align-items: center;
  color: #f3591e;
}

mat-card {
  margin: 1em;
}

.logoutButton {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
