li {
    display: flex;
    align-items: center;
    color: #f09983;
}

.measure {
    color:white;
}

.line {
    height: 10px;
	width: 50px;
	background: #f09983;
	margin-right: 10px;
}

.longLine {
    height: 10px;
	width: 70px;
	background: #f09983;
	margin-right: 10px;
}

.row {
    padding-bottom: 2em;
}
