<h1>
  {{ title }}
</h1>

<div class="input-group mb-3" action=""></div>
<div class="add-section">
  <mat-form-field class="example-full-width">
    <input class="addMeasurementByInput" matInput placeholder="Add measurement" #measure
      (input)="isNumber($event.target.value)" (keydown.enter)="addMeasurement(measure.value); measure.value = ''">
  </mat-form-field>
<button class="addMeasurementByButton" mat-flat-button type="submit" id="button-addon2"
  (click)="addMeasurement(measure.value); measure.value = ''" [disabled]="!inputIsNumber">
  Add
</button>
</div>

<ul>
  <li *ngFor="let item of measurementList">
    <div *ngIf="isWeekend(item.date)" class="longLine"></div>
    <div *ngIf="!isWeekend(item.date)" class="line"></div>
    <div>{{item.date}} <span class="measure">{{item.waist}}cm &nbsp; </span> </div>

    <a [routerLink]="['/edit',item.key]">
      <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
    </a>

    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteMeasurement(item.key)">delete</mat-icon>

  </li>
</ul>
