.date {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 70px 0px 100px 0px;
}

.edit-section {
  padding-left: 2em;
}

.update-button {
  background: #f3591e;
  color: black;
  margin-left: 3.5em;
}

.back-button {
  background: #f3591e;
  color: black;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.example-full-width {
  display: block;
  width: fit-content;
}
