.date {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.edit-section {
    padding-left: 2em;
}

.update-button {
    background: #f09983;
    color: black;
    margin-left: 3.5em;
}

.back-button {
  background: #f09983;
  color: black;
  position: absolute;
  bottom: 8px;
  right: 30px;
}

.example-full-width {
  display: block;
  width: fit-content;
}
