@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1c1c20;
  color: #65656b;
  font-family: 'Montserrat', sans-serif;
}

.colorPrimary {
  color: #f3591e;
}
